{{>navbar}}
{{#each myReviews}}
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{this.lugar.nome}} 
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      {{this.desc}}
      <br>
      <time datetime="2016-1-1">{{this.updatedAt}}</time>
    </div>
  </div>
  <footer class="card-footer">
    <button id="editButton" class="button">Editar</button>
    <form action="/myReviews/delete/{{this.id}}" method="post">
      <button class="button">Apagar</button>
    </form>
  </footer>
</div>

<div class="modal">
  <form action="/myReviews/edit/{{this.id}}" method="post">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Editar</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <p>Editar review</p>
     <input class="input is-success" type="text" name="updatedReview" placeholder="Text input" value="{{this.desc}}">
    </section>
    <footer class="modal-card-foot">
      <button type="submit" class="button is-success">Save changes</button>
      <button action="/myReviews" class="button">Cancel</button>
      </form>
    </footer>
  </div>
</div>
{{/each}}
{{>footer}}