{{>navbar}}
{{#each myReviews}}
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{this.lugar.nome}} 
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      {{this.desc}}
      <br>
      <time datetime="2016-1-1">{{this.updatedAt}}</time>
    </div>
  </div>
  <footer class="card-footer">
    <form action="/myReviews/edit/{{this.id}}" method="post">
      <button class="card-footer-item">Editar</button>
    </form>
    <form action="/myReviews/delete/{{this.id}}" method="post">
      <button class="card-footer-item">Apagar</button>
    </form>
  </footer>
</div>
{{/each}}
{{>footer}}