{{>navbar}}
{{#each placesWithReview}}
    <div class="card m-3">
    <div class="card-image is-fullwidth">
      <figure class="image is-16by9">
        <img src="{{this.imagem}}" alt="{{this.nome}}">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">{{this.nome}}</p>
          <p class="subtitle is-6 has-text-danger">{{this.categoria}}</p>
          <p class="is-3">{{this.descricao}}</p>
          <p class="is-3"><span class="has-text-weight-medium">Horário de Funcionamento: </span>{{this.horario}}</p>
          <p class="is-3 mt-1"><span class="has-text-weight-medium">Endereço: </span>{{this.endereco}}, {{this.numero}} - {{this.cidade}} / {{this.estado}}</p>
          <p class="has-text-weight-medium has-text-danger mt-2 is-size-4">Reviews:</p>
        </div>
      </div>

      {{#each this.reviews}}
      <div class="content">
        <div class="box">
          <p><span class="has-text-weight-medium">Descrição:</span> {{this.desc}}</p>
          <p><span class="has-text-weight-medium">Usuário:</span> {{this.emissor.nome}}</p>
          <time datetime="2016-1-1"><span class="has-text-weight-medium">Data da review: </span>{{this.updatedAt}}</time>
        <br>
        </div>
      </div>
      {{/each}}
        <footer class="card-footer">    
          <a class="button is-danger my-3 ml-1" href="/addReview/{{this._id}}">Adicionar review</a>
        </footer>
    </div>
  </div>
</div>
{{/each}}
{{>footer}}