
{{>navbar}}

{{#each placesWithReview}}

<h1>{{this.nome}}</h1>

<img src="{{this.image}}" alt="{{this.nome}}">

{{#each this.reviews}}
<p> {{this.desc}}</p>
{{/each}}

<a href="/addReview/{{this._id}}">Adicionar review</a>

{{!-- <form action="/addReview/{{this.id}}" method="post">
    <input type="text" name="review">
    <button type="submit">Adicionar avaliação</button>
</form>  --}}

{{/each}}